body {
    background-color: lightgray !important;
}

h1 {
    color: #0000ff;
    text-align: center;
    background-color: #8ca191;
    border-radius: 10px;
    font-size: 50px;
    font-weight: 80;
    padding: 30px;
    font-family: cursive;
}

h2 {
    color: #0000ff;
    text-align: center;
}


h3 {
    color: #0000ff;  
    text-align: left; 
    padding: 20px;
}

.awards {
    border: 1px solid #000000;
    text-align: center;
    border-radius: 50px;
}

.nobullets {
    list-style: none;
    text-align: center;
}

.volunteer {
    list-style: circle;
}

.loyno {
    border: 1px solid #000000;
    padding: 46px;
    text-align: center;
}

.vis {
    border: 1px solid #000000;
    padding: 30px;   
    text-align: center;
}

footer {
	background-color: #000000;
	position: absolute;
	width: 100%;
	height: auto;
    color: #0000ff;
}

footer p {
	float: right;
}







.pe {
    text-align: center;
}

.card-body {
    background-color: #8ca191;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

@media screen and (max-width: 776px) {
	.features img {
		max-width: 90%;
		margin: auto;
	}
}




